<nav class="navigation">
    <ul>
        <li><a href='/allblogs'>BLOGS</a></li>
        <li><a href='/create'>CREATE A NEW BLOG</a></li>
        <li><a href='/about'>ABOUT ME</a></li>
    </ul>
</nav>