<html>
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <p class="about">My name is Yashwardhan Modi.This is the first Blog Website that i have created.</p>
    </body>
</html>